<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' media='print'>
    <style>
        html,
        body {
            font-family: Verdana, Calibri, Tahoma, Arial, 'Times New Roman';
            height: 100%;
            width: 100%;
        }

        table {
            margin: 0 !important;
            border-collapse: collapse;
        }

            table tr td {
                font-size: 11px;
                height: 30px;
                padding-left: 5px;
            }

            table tr th {
                font-size: 12px;
                height: 30px;
            }

            table:not(.table-min-none) tr td:not(.stt),
            table:not(.table-min-none) tr th:not(.stt) {
                min-width: 120px;
            }

            table tr th {
                vertical-align: middle !important;
                text-align: center;
            }

                table tr td.stt,
                table tr th.stt {
                    width: 50px;
                    white-space: nowrap;
                    text-align: center;
                }

            table ul {
                padding-left: 10px;
            }

        .table-bordered {
            border: 1px solid #000;
        }
            
            .table-bordered > tbody > tr > td,
            .table-bordered > tbody > tr > th,
            .table-bordered > tfoot > tr > td,
            .table-bordered > tfoot > tr > th,
            .table-bordered > thead > tr > td,
            .table-bordered > thead > tr > th {
                border: 1px solid #000;
            }

        tr td[rowspan] {
            vertical-align: middle !important;
            text-align: center !important;
        }

        .report-header {
            margin-top: 20px;
            text-align: center;
        }

        .report-content table tr td,
        .report-content table tr th {
            font-size: 12px;
        }

            .report-content table tr th:first-child {
                width: 50px;
            }

        .container-table {
            width: 100%;
            height: 100%;
        }

        .label-form {
            font-weight: 600;
            font-size: 12px;
        }

        .label-form span{
            font-weight: 500!important;
        }
    </style>
</head>

<body>
    <div class="container-table">
        <div class="text-center" style="height:80px; text-align: center">
            <h3 style="text-transform: uppercase;">
                <b>PHIẾU KIỂM TRA, GIÁM SÁT KHU ĐÔ THỊ</b>
                <p style="font-size: 10px; text-transform: none">Phương thức kiểm tra: {{phuongThucKiemTra.mo_ta}}</p>
                <p style="font-size: 10px; text-transform: none">Công cụ kiểm tra: {{congCuKiemTra.mo_ta}}</p>
            </h3>
        </div>
        <div style="height:auto;padding:10px;">
            <h4>Thông tin chung</h4>
            <table class="table maintenance-info" style="width: 100%">
                <tbody>
                    <tr>
                        <td class="label-form" width="50%">Thời tiết: <span>{{thoitiet}}</span></td>
                        <td class="label-form">Thiết bị: <span>{{thietbi}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form" width="50%">Số nhân công: <span>{{sonhancong}}</span></td>
                        <td class="label-form">Vị trí: <span>{{vitri}}</span></td>
                    </tr>
                   
                    <tr>
                        <td class="label-form" width="50%">Tên công trình: <span>{{tencongtrinh}}</span></td>
                        <td class="label-form">Gói thầu số: <span>{{goithauso}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form" width="50%">Nhà thầu: <span>{{nhathau}}</span></td>
                        <td class="label-form">Đơn vị thi công: <span>{{donvithicong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form" width="50%" style="padding-right: 30px">Ngày thực hiện: <span>{{toLocalDateString ngaythuchien}} </span></td>
                        <td class="label-form">Ngày kết thúc: <span>{{toLocalDateString ngayketthuc}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form" width="50%">Địa điểm: <span>{{diadiem}}</span></td>
                        <td class="label-form">Ghi chú: <span>{{ghichu}}</span></td>
                    </tr>
                </tbody>
            </table>
            <h4>Kiểm tra công tác an toàn</h4>
            <table class="table maintenance-info" style="width: 100%">
                <tbody>
                    <tr>
                        <td class="label-form">Kiểm tra công tác an toàn lao động:<span>{{kiemtracongtacatld}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra công tác an toàn giao thông:<span>{{kiemtracongtacatgt}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra công tác vệ sinh môi trường khu vực thi công:<span>{{kiemtractvsmtkhuvuctc}}</span></td>
                    </tr>
                </tbody>
            </table>
            <h4>Kiểm tra cây xanh</h4>
            <table class="table maintenance-info" style="width: 100%">
                <tbody>
                    <tr>
                        <td class="label-form">Kiểm tra vệ sinh cây xanh:<span>{{kiemtravesinhcayxanh}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra chất lượng cây xanh:<span>{{kiemtrachatluongcayxanh}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra tình trạng cây xanh:<span>{{kiemtratinhtrangcayxanh}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra tình hình sâu bệnh cây xanh:<span>{{kiemtratinhhinhsaubenhcayxanh}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra chiều cao cây xanh:<span>{{kiemtrachieucaocayxanh}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra tán cây xanh<span>{{kiemtratancayxanh}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra màu sắc lá cây xanh<span>{{kiemtramausaclacayxanh}}</span></td>
                    </tr>
                </tbody>
            </table>
            <h4>Kiểm tra chiếu sáng</h4>
            <table class="table maintenance-info" style="width: 100%">
                <tbody>
                    <tr>
                        <td class="label-form">Kiểm tra loại cột:<span>{{kiemtraloaicot}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra cần đèn:<span>{{kiemtracanden}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra dây dẫn:<span>{{kiemtradaydan}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra bảng điện cửa cột:<span>{{kiemtrabangdiencuacot}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra bệ đèn:<span>{{kiemtrabeden}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra số lượng đèn:<span>{{kiemtrasoluongden}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra chủng loại vỏ đèn:<span>{{kiemtrachungloaivoden}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra số cần đèn:<span>{{kiemtrasocanden}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra chiều cao cột:<span>{{kiemtrachieucaocot}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra số lượng bầu đèn:<span>{{kiemtrasoluongbauden}}</span></td>
                    </tr>
                </tbody>
            </table>
            <h4>Kiểm tra thoát nước</h4>
            <table class="table maintenance-info" style="width: 100%">
                <tbody>
                    <tr>
                        <td class="label-form">Kiểm tra vệ sinh thoát nước:<span>{{kiemtravesinhthoatnuoc}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra công tác thu gom rác:<span>{{kiemtracongtacthugomrac}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra tập kết rác:<span>{{kiemtratapketrac}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra đường kính cống thoát nước:<span>{{kiemtraduongkinhcong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra tiết diện cống thoát nước:<span>{{kiemtratietdiencong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra chất liệu cống thoát nước:<span>{{kiemtrachatlieucong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra chiều dài cống thoát nước:<span>{{kiemtrachieudaicong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra cao độ đáy cống thoát nước:<span>{{kiemtracaododaycong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra độ dốc cống thoát nước:<span>{{kiemtradodoccong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra cao độ mực nước trong lòng cống:<span>{{kiemtracaodomucnuoctronglongcong}}</span></td>
                    </tr>
                    <tr>
                        <td class="label-form">Kiểm tra hướng tuyến thoát nước:<span>{{kiemtrahuongtuyenthoatnuoc}}</span></td>
                    </tr>
                </tbody>
            </table>
            <h4>Danh sách nhân viên thực hiện</h4>
            <table class="table table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th class='stt'>STT</th>
                        <th>Tên nhân viên</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each giaoViecNhanViens}}
                    <tr>
                        <td class="stt"> {{counter}} </td>
                        <td> {{nhanVien.tennhanvien}} </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>