<span class="user-label">Tên đầy đủ : </span>{{userInfo.full_name}}
</br>
<span class="user-label">Đơn vị công tác: </span>{{userInfo.unit}}
</br>
<span class="user-label">Vị trí: </span>{{userInfo.position}}
</br>
<span class="user-label">Điện thoại: </span>{{phone_number}}
</br>
<span class="user-label">Email: </span>{{email}}