@{
    Layout = null;
}
@using System.Data;
@using System.Linq;
@using Dapper;
@using System.Globalization;
@using OpenGIS.Module.Core.ViewModels;
@model IEnumerable<OpenGIS.Module.Core.ViewModels.BaoCaoTongHopChieuSangDVQLViewModel>;
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' media='screen,print'>
    <style>
        html,
        body {
            font-family: "Reddit Sans", "Helvetica Neue", "Segoe UI", "helvetica", "verdana", "sans-serif";
        }

        table {
            margin: 0 !important;
            position: relative;
            border-collapse: separate;
            border: 1px solid #000;
        }

        table tr td {
            font-size: 11px;
        }

        table tr th {
            font-size: 11px;
        }

        table:not(.table-min-none) tr td:not(.stt),
        table:not(.table-min-none) tr th:not(.stt) {
            min-width: 150px;
        }

        table thead {
            background: white;
            position: sticky;
            top: 0;
            border: 1px solid #000 !important;
            z-index: 100;
        }

        table thead th {
            border: 1px solid #000 !important;
            vertical-align: middle !important;
            text-align: center;
            font-weight: bolder;
        }

        table tr td.stt,
        table tr th.stt {
            width: 50px;
            white-space: nowrap;
            text-align: center;
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            left: 0px;
            position: -webkit-sticky;
            position: sticky;
            border: 1px solid #000 !important;
            background-color:white;
            z-index: 99;
        }

        table ul {
            padding-left: 10px;
        }

        .table-bordered {
            border: 1px solid #000;
        }

        .table-bordered>tbody>tr>td,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>td,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>thead>tr>th {
            border: 1px solid #000 !important;
        }

        tr td[rowspan] {
            vertical-align: middle !important;
            text-align: center !important;
        }

        .report-header {
            margin-top: 50px;
            text-align: center;
        }

        .second-col {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            left: 50px;
            position: -webkit-sticky;
            position: sticky;
            background-color:white;
            border: 1px solid #000 !important;
            z-index: 99;
        }

        .report-content table tr td,
        .report-content table tr th {
            font-size: 11px;
        }

        .report-content table tr th:first-child {
            width: 50px;
        }

        .container-table {
            width: 100%;
            /*height: 89%;
            overflow: auto;*/
        }

        p {
            margin: unset;
            text-align: right !important;
        }

        p.sum {
            font-weight: bold;
        }

        p.sum-child {
            font-weight: bold;
            font-style: italic;
        }

        .font-weight-bolder {
            font-weight: bolder;
        }

        .group-td {
        @* background-color: #05478d; *@
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h3 style="text-transform: uppercase;">
            <b> BÁO CÁO TỔNG HỢP CƠ SỞ DỮ LIỆU CHIẾU SÁNG</b>
            <br>
            <b> THÀNH PHỐ HÀ NỘI</b>
        </h3>
        <span style="font-style: italic;"> Ngày @DateTime.Now.ToString("dd/MM/yyyy")</span>
    </div>
    <div class="container-table" style="margin-top: 10px;">
        <table class="table table-bordered " border="1">
            <thead>
                <tr>
                    <th width="50px" class="stt" rowspan="2">STT</th>
                    <th rowspan="2">Quận / Huyện</th>
                    <th colspan="3">Trạm đèn (Tủ chiếu sáng)</th>
                    <th rowspan="2">Chiều dài tuyến đèn (m)</th>
                    <th rowspan="2">Công suất (kw)</th>
                    <th rowspan="2">Số cột đèn (cột)</th>
                    <th rowspan="2">Số bộ đèn (bộ)</th>
                </tr>
                <tr>
                    <th>Tổng</th>
                    <th>TTĐK</th>
                    <th>ĐHHG</th>
                </tr>
            </thead>
            <tbody>
                @{
                        <tr>
                            <td colspan="2" class="text-center font-weight-bolder">TỔNG</td>
                            <td class="text-center font-weight-bolder">@((Model.Sum(x => x.tramden_quan) + Model.Sum(x => x.tramden_so))?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                            <td class="text-center font-weight-bolder">@((Model.Sum(x => x.ttdk_quan) + Model.Sum(x => x.ttdk_so))?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                            <td class="text-center font-weight-bolder">@((Model.Sum(x => x.dhhg_quan) + Model.Sum(x => x.dhhg_so))?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                            <td class="text-center font-weight-bolder">@((Model.Sum(x => x.chieudaituyen_quan) + Model.Sum(x => x.chieudaituyen_so))?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                            <td class="text-center font-weight-bolder">@((Model.Sum(x => x.congsuat_quan) + Model.Sum(x => x.congsuat_so))?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                            <td class="text-center font-weight-bolder">@((Model.Sum(x => x.so_cotden_quan) + Model.Sum(x => x.so_cotden_so))?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                            <td class="text-center font-weight-bolder">@((Model.Sum(x => x.so_boden_quan) + Model.Sum(x => x.so_boden_so))?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                        </tr>
                    var index = 0;
                    foreach (var data in @Model)
                    {
                                <tr>
                                    <td class="text-center stt">@(++index)</td>
                                    <td class="text-left font-weight-bolder">@(data.dis_name ?? "Không xác định")</td>
                                    <td class="text-center font-weight-bolder">@((data.tramden_quan + data.tramden_so)?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                                    <td class="text-center font-weight-bolder">@((data.ttdk_quan + data.ttdk_so)?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                                    <td class="text-center font-weight-bolder">@((data.dhhg_quan + data.dhhg_so)?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                                    <td class="text-center font-weight-bolder">@((data.chieudaituyen_quan + data.chieudaituyen_so)?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                                    <td class="text-center font-weight-bolder">@((data.congsuat_so + data.congsuat_quan)?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                                    <td class="text-center font-weight-bolder">@((data.so_cotden_so + data.so_cotden_quan)?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                                    <td class="text-center font-weight-bolder">@((data.so_boden_so + data.so_boden_quan)?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat))</td>
                                </tr>
                                <tr>
                                    <td class="text-center stt">@(index).1</td>
                                    <td class="text-right"><i>Sở Xây Dựng quản lý</i></td>
                                    <td class="text-center">@data.tramden_so?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.ttdk_so?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.dhhg_so?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.chieudaituyen_so?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.congsuat_so?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.so_cotden_so?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.so_boden_so?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                </tr>
                                <tr>
                                    <td class="text-center stt">@(++index).2</td>
                                    <td class="text-right"><i>Quận quản lý</i></td>
                                    <td class="text-center">@data.tramden_quan?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.ttdk_quan?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.dhhg_quan?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.chieudaituyen_quan?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.congsuat_quan?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.so_cotden_quan?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-center">@data.so_boden_quan?.ToString("#,###.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</body>


</html>
