@{
    Layout = null;
}
@using System.Data;
@using System.Linq;
@using Dapper;
@using System.Globalization;
@using OpenGIS.Module.Core.ViewModels;
@model OpenGIS.Module.Core.ViewModels.SoLieuChieuSangViewModel;
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' media='screen,print'>
    <style>
        html,
        body {
            font-family: "Reddit Sans", "Helvetica Neue", "Segoe UI", "helvetica", "verdana", "sans-serif";
        }

        table {
            margin: 0 !important;
            position: relative;
            border-collapse: separate;
            border: 1px solid #000;
        }

        table tr td {
            font-size: 11px;
        }

        table tr th {
            font-size: 11px;
        }

        table:not(.table-min-none) tr td:not(.stt),
        table:not(.table-min-none) tr th:not(.stt) {
            min-width: 150px;
        }

        table thead {
            background: white;
            position: sticky;
            top: 0;
            border: 1px solid #000 !important;
            z-index: 100;
        }

        table thead th {
            border: 1px solid #000 !important;
            vertical-align: middle !important;
            text-align: center;
            font-weight: bolder;
        }

        table tr td.stt,
        table tr th.stt {
            width: 50px;
            white-space: nowrap;
            text-align: center;
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            left: 0px;
            position: -webkit-sticky;
            position: sticky;
            border: 1px solid #000 !important;
            background-color:white;
            z-index: 99;
        }

        table ul {
            padding-left: 10px;
        }

        .table-bordered {
            border: 1px solid #000;
        }

        .table-bordered>tbody>tr>td,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>td,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>thead>tr>th {
            border: 1px solid #000 !important;
        }

        tr td[rowspan] {
            vertical-align: middle !important;
            text-align: center !important;
        }

        .report-header {
            margin-top: 50px;
            text-align: center;
        }

        .second-col {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            left: 50px;
            position: -webkit-sticky;
            position: sticky;
            background-color:white;
            border: 1px solid #000 !important;
            z-index: 99;
        }

        .report-content table tr td,
        .report-content table tr th {
            font-size: 11px;
        }

        .report-content table tr th:first-child {
            width: 50px;
        }

        .container-table {
            width: 100%;
            /*height: 89%;
            overflow: auto;*/
        }

        p {
            margin: unset;
            text-align: right !important;
        }

        p.sum {
            font-weight: bold;
        }

        p.sum-child {
            font-weight: bold;
            font-style: italic;
        }

        .font-weight-bolder {
            font-weight: bolder;
        }

        .group-td {
            @* background-color: #05478d; *@
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h3 style="text-transform: uppercase;">
            <b> BÁO CÁO TỔNG HỢP SỐ LIỆU CHÍNH CHIẾU SÁNG</b>
            <br>
            <b> THÀNH PHỐ HÀ NỘI</b>
        </h3>
        <span style="font-style: italic;"> Ngày @DateTime.Now.ToString("dd/MM/yyyy")</span>
    </div>
    <div class="container-table"style="margin-top: 10px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="stt" rowspan="2">STT</th>
                    <th class="second-col" rowspan="2">Tên tuyến chiếu sáng</th>
                    <th rowspan="2">Chiều dài cáp (m)</th>
                    <th rowspan="2">Công suất bóng (kw)</th>
                    <th colspan="@(Model.loaicotden.Count() + 1)">Số lượng cột đèn</th>
                    <th colspan="@(Model.loaicapngam.Count() + 1)">Số lượng cáp ngầm (m)</th>
                    <th colspan="@(Model.loaicaptreo.Count() + 1)">Số lượng cáp treo (m)</th>
                    <th colspan="@(Model.loaiboden.Count() + 1)">Chủng loại đèn (bộ)</th>
                </tr>
                <tr>
                    <th>Tổng</th>
                    @foreach (var item in @Model.loaicotden)
                    {
                        <th>@(item ?? "Không xác định")</th>
                    }
                    <th>Tổng</th>
                    @foreach (var item in @Model.loaicapngam)
                    {
                        <th>@(item ?? "Không xác định")</th>
                    }
                    <th>Tổng</th>
                    @foreach (var item in @Model.loaicaptreo)
                    {
                        <th>@(item ?? "Không xác định")</th>
                    }
                    <th>Tổng</th>
                    @foreach (var item in @Model.loaiboden)
                    {
                        <th>@(item ?? "Không xác định")</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{

                    var colspan = 8 + @Model.loaicotden.Count() + @Model.loaicapngam.Count() + @Model.loaicaptreo.Count() + @Model.loaiboden.Count();
                    var groups = @Model.records.GroupBy(x => x.district).Select(x => new
                    {
                        key = x.Key,
                        items = x.GroupBy(y => y.tentramden).Select(y => new
                        {
                            key = y.Key,
                            items = y.GroupBy(z => z.tentuyen).Select(t => new {
                                Key = t.Key,
                                chieudai = t.DistinctBy(stm => stm.matuyen).Sum(x => x.chieudai),
                                congsuat = t.DistinctBy(stm => stm.matuyen).Sum(x => x.congsuat),
                                items = t
                            }),
                            records = y
                        }),
                        records = x
                    });
                    <tr>
                        <td class="font-weight-bolder text-center" colspan="2">Tổng</td>
                        <td class="text-right font-weight-bolder">@Model.records?.DistinctBy(x => x.matuyen).Sum(x => x.chieudai)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        <td class="text-right font-weight-bolder">@Model.records?.DistinctBy(x => x.matuyen).Sum(x => x.congsuat)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "cotden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicotden)
                        {
                            <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "cotden" && x.loai == item)?.Sum(x => x?.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "capngam").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicapngam)
                        {
                            <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "capngam" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "captreo").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicaptreo)
                        {
                            <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "captreo" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "boden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaiboden)
                        {
                            <td class="text-right font-weight-bolder">@Model.records?.Where(x => x.table_name == "boden" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                    </tr>
                    foreach (var group in groups)
                    {
                        <tr>
                            <td colspan="2" class="group-td font-weight-bolder">@(group.key ?? "Không xác định") (@group.items.Count() trạm) </td>
                            <td class="text-right font-weight-bolder">@group.records?.DistinctBy(x => x.matuyen).Sum(x => x.chieudai)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        <td class="text-right font-weight-bolder">@group.records?.DistinctBy(x => x.matuyen).Sum(x => x.congsuat)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "cotden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicotden)
                        {
                            <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "cotden" && x.loai == item)?.Sum(x => x?.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "capngam").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicapngam)
                        {
                            <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "capngam" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "captreo").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicaptreo)
                        {
                            <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "captreo" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "boden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaiboden)
                        {
                            <td class="text-right font-weight-bolder">@group.records?.Where(x => x.table_name == "boden" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        </tr>
                        foreach (var child in group.items)
                        {
                            <tr>
                                <td colspan="2" class="group-td-child font-weight-bolder">@(child.key ?? "Không xác định") (@child.items.Count() tuyến)</td>
                            <td class="text-right font-weight-bolder">@child.records?.DistinctBy(x => x.matuyen).Sum(x => x.chieudai)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        <td class="text-right font-weight-bolder">@child.records?.DistinctBy(x => x.matuyen).Sum(x => x.congsuat)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "cotden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicotden)
                        {
                            <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "cotden" && x.loai == item)?.Sum(x => x?.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "capngam").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicapngam)
                        {
                            <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "capngam" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "captreo").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaicaptreo)
                        {
                            <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "captreo" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                        <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "boden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        @foreach (var item in @Model.loaiboden)
                        {
                            <td class="text-right font-weight-bolder">@child.records?.Where(x => x.table_name == "boden" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                        }
                            </tr>
                            var index = 0;
                            foreach (var record in child.items)
                            {
                                <tr>
                                    <td class="stt">@(++index)</td>
                                    <td class="second-col">@record.Key</td>
                                   <td class="text-right">@record?.chieudai?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-right">@record?.congsuat?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    <td class="text-right">@record?.items.Where(x => x.table_name == "cotden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    @foreach (var item in @Model.loaicotden)
                                    {
                                        <td class="text-right">@record?.items.Where(x => x.table_name == "cotden" && x.loai == item)?.Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    }
                                    <td class="text-right">@record?.items.Where(x => x.table_name == "capngam").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    @foreach (var item in @Model.loaicapngam)
                                    {
                                        <td class="text-right">@record?.items.Where(x => x.table_name == "capngam" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    }
                                    <td class="text-right">@record?.items.Where(x => x.table_name == "captreo").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    @foreach (var item in @Model.loaicaptreo)
                                    {
                                        <td class="text-right">@record?.items.Where(x => x.table_name == "captreo" && x.loai == item).Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    }
                                    <td class="text-right">@record?.items.Where(x => x.table_name == "boden").Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    @foreach (var item in @Model.loaiboden)
                                    {
                                        <td class="text-right">@record?.items.Where(x => x.table_name == "boden" && x.loai == item)?.Sum(x => x.total)?.ToString("#,##0.##", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                                    }
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>

</html>
