<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' media='screen,print'>
    <style>
        html,
        body {
            font-family: Verdana, Calibri, Tahoma, Arial, 'Times New Roman';
        }

        table {
            margin: 0 !important;
        }

        table tr td {
            font-size: 11px;
        }

        table tr th {
            font-size: 11px;
        }

        table:not(.table-min-none) tr td:not(.stt),
        table:not(.table-min-none) tr th:not(.stt) {
            min-width: 120px;
        }

        table tr th {
            vertical-align: middle !important;
            text-align: center;
        }

        table tr td.stt,
        table tr th.stt {
            width: 1%;
            white-space: nowrap;
            text-align: center;
        }

        table tr td.number {
            text-align: right;
        }

        table ul {
            padding-left: 10px;
        }

        .table-bordered {
            border: 1px solid #000;
        }

        .table-bordered>tbody>tr>td,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>td,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>thead>tr>th {
            border: 1px solid #000;
        }

        tr td[rowspan] {
            vertical-align: middle !important;
            text-align: center !important;
        }

        .report-header {
            margin-top: 20px;
            text-align: center;
        }

        .report-content table tr td,
        .report-content table tr th {
            font-size: 11px;
        }

        .report-content table tr th:first-child {
            width: 50px;
        }

        .container-table {
            width: 100%;
            /*height: 89%;
            overflow: auto;*/
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h3 style="text-transform: uppercase;">
            <b>{{title}}</b>
        </h3>
        <p style="margin-top:5px;font-size:11px">
            {{!-- <b>(Tổng số: {{ totalCount }})</b> --}}
        </p>
    </div>
    <div class="container-table">
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>STT</th>
                    <th colspan="2">Nội dung</th>
                    <th width="100">Đơn vị tính</th>
                    <th width="200">Khối lượng{{unit}}</th>
                </tr>
            </thead>
                {{#each data}}
                <tr>
                    <td colspan="7" style="font-weight: 600; text-transform: uppercase;">{{key}}</td>
                </tr>
                    {{#each items}}
                    <tr>
                        <td colspan="7" style="font-weight: 600;">{{key}}</td>
                    </tr>
                        {{#each items}}
                            <tr>
                                <td rowspan={{count_row}} class='stt'>{{stt}}</td>
                                <td rowspan={{count_row}} style="font-weight: 600">{{key}}</td>
                                <td style="font-weight: 600">Tổng</td>
                                <td width="100">{{unit}}</td>
                                <td width="200" class="number">{{formatNumber count}}</td>
                            </tr>
                            {{#each items}}
                            <tr>
                                <td>{{key}}</td>
                                <td width="100">{{unit}}</td>
                                <td width="200" class="number">{{formatNumber count}}</td>
                            </tr>
                            {{/each}}
                        {{/each}}
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>